* {
  font-family: Helvetica, sans-serif;
  color: seashell;
  margin: 0px;
}

body {
  align-content: center;
  background-color: black;
}

/* HEADER SECTION */

#header {
  display: flex;
  height: 70px;
  width: 1300px;
  border-bottom: 1px solid seashell;
  z-index: 100;
  position: fixed;
  background-color: black;
}

.headcontainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background-color: black;
}

.navcontainer {
  display: flex;
  height: 50px;
  position: relative;
  flex-shrink: 2;
}

#nav{
  display: flex-end;
  text-decoration: underline;
  padding: 20px;
  justify-content: space-between;
}


/* MAIN */

.main {
  width: 1200px;
  display: block;
  margin: auto;
  justify-content: center;
  position: relative;
  background-color: black;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  display: block;
  padding: 10px;
  position: relative;
}

/* MISSION */

.mission {
    display: flex;
    background-image: url(../images/img-mission-background.jpg);
    background-color: gray;
    height: 700px;
    align-items: center;
}

#ourmission {
    width: 1200px;
    z-index: 50px;
    align-items: center;
    padding: 25px;
    background-color: black;
}

/* MENU */

#monthtitle {
  display: block;
  width: 1000px;
  text-align: center;
  padding-top: 100px;
}

#monthmenu {
  display: flex;
  width: 1000px;
  padding: 50px;
  flex-wrap: wrap;
}

#monthitem {
  display: inline-flex;
  height: 250px;
  width: 300px;
  justify-content: space-around;
  font-size: 14px;
  font-weight: bold;

}

.monthpic {
  display: inline-block;
  height: 200px;
  width: 300px;
  padding: 10px;
  font-size: 12px;
}

/* LOCATIONS */

#locations {
  display: flex;
  height: 500px;
  width: 1200px;
  align-items: center;
  background-image: url(../images/img-locations-background.jpg);
}

#locationscontent {
    display: block;
    width: 1200px;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
}

#places {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.placeblock {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5px 20px;
  width: 300px;
  height: 300px;
  z-index: 5;
  background-color: black;
  font-size: 12px;
  text-align: center;
}

.placeblock h5 {
  font-size: 12px;
  font-weight: normal;
  margin: 2px;
  display: block;
}


/* CONTACT */

#contact {
  display: block;
  text-align: center;
  height: 200px;
}


/* COPYRIGHT */

#copyright {
  display: block;
  padding-left: 20px;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
}



h2 {
  font-size: 24px;
  text-align: center;
  z-index: 15;
}

h3 {
  font-size: 20px;
  text-align: center;
  z-index: 15;
}

h4 {
  font-size: 16px;
  text-align: center;
  z-index: 15;
}

h5 {
  font-size: 14px;
  text-align: center;
}
